@import "node_modules/vis/dist/vis.css";

.vis-network-component {
  padding: 0 0 0 0;
  margin: 15px 15px;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  
  .network-container {
    height: 100%;
    width: 100%;
  }
}